{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 text-center mt-3 mb-3">
                <a class="btn btn-success" href="/" role="button">Volver al inicio</a>
            </div>
            <div class="col-md-3 text-center mt-3 mb-3">
                <a class="btn btn-success" href="{{node_address}}/mine" target="_blank" role="button">Realizar petición de minado</a>
            </div>
            <div class="col-md-3 text-center mt-3 mb-3">
                <a class="btn btn-success" href="/chain" role="button">Actualizar</a>
            </div>
            <div class="col-md-3 text-center mt-3 mb-3">
                <a class="btn btn-success" href="/peers" role="button">Configurar nodos de la red</a>
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <div class="row text-center">
            <h2 class="col-md-12 mt-10 mb-10">Cadena</h2>
        </div>
        {% for transaction in chain%}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card bg-light mb-3 w-100">
                        <div class="card-body">
                            <h4 class="card-title">{{ transaction.patient }}: {{ transaction.illness }}</h4>
                            <h5 class="card-subtitle mb-3 text-muted">Transacción del bloque {{ transaction.index_ }} ({{ transaction.hash_ }})</h5>
                            <h6 class="card-subtitle mb-3 text-muted">Registrado por {{ transaction.doctor }} a las {{ readable_time(transaction.timestamp) }}</h6>
                            <p class="card-text">{{ transaction.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}