{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        {% if exists(patient) %}
            <div class="row">
                <div class="col-md-4 text-center mt-3 mb-3">
                    <a class="btn btn-success" href="/" role="button">Volver al inicio</a>
                </div>
                <div class="col-md-4 text-center mt-3 mb-3">
                    <a class="btn btn-success" href="{{node_address}}/mine" target="_blank" role="button">Realizar peticion de minado</a>
                </div>
                <div class="col-md-4 text-center mt-3 mb-3">
                    <a class="btn btn-success" href="/history?patient={{ patient }}" role="button">Actualizar</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-6 text-center mt-3 mb-3">
                    <a class="btn btn-success" href="/" role="button">Volver al inicio</a>
                </div>
                <div class="col-md-6 text-center mt-3 mb-3">
                    <a class="btn btn-success" href="{{node_address}}/mine" target="_blank" role="button">Realizar peticion de minado</a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container-fluid">
        <div class="row text-center">
            <h2 class="col-md-12">Crea un nuevo registro {% if exists(patient) %}para {{ patient }}{% endif %}</h2>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/submit" method="post">
                    <div class="form-group">
                        <label for="doctor">Introduzca su nombre (médico):</label>
                        <input type="text" class="form-control" id="doctor" placeholder="Jane Doe" name="doctor">
                    </div>
                    <div class="form-group">
                        {% if exists(patient) %}
                            <label for="patient">Nombre del paciente:</label>
                            <input type="text" readonly class="form-control" value={{ patient }}>
                            <input type="hidden" name="patient" value="{{ patient }}">
                        {% else %}
                            <label for="patient">Nombre del paciente:</label>
                            <input type="text" name="patient" class="form-control" placeholder="Introduzca el nombre del paciente">
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="illness">Problema del paciente:</label>
                        <input type="text" class="form-control" id="illness" placeholder="Introduzca el nombre del paciente (dolor de cabeza, etc)" name="illness">
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción detallada</label>
                        <textarea class="form-control" id="description" rows="5" name="description"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Registrar">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    {% if exists(patient) %}
        <div style="margin: 20px;">
        <h2>Historial medico de {{ patient }}</h2>

        {% for register in history %}
        <div class="post_box">
           <div class="post_box-header">
              <div class="name-header">Doctor/a: {{ register.doctor }}</div>
               <div class="name-header">Paciente: {{ register.patient }}</div>
               <div class="name-header">Enfermedad: {{ register.illness }}</div>
              <div class="post_box-subtitle"> Posted at <i>{{ readable_time(register.timestamp) }}</i></div>
           </div>
           <div>
              <div class="post_box-body">
                  Descripción
                 <p>{{register.description}}</p>
              </div>
           </div>
        </div>
        {% endfor %}


        </div>
    {% endif %}
{% endblock %}