<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div style="margin: 20px;">
        <form action="/history" method="post">
            <select name="patient">
                {% for patient in patients %}
                <option value= "{{ patient }}">{{ patient }}</option>"
                {% endfor %}
            </select>
            <a type="submit"><button>See history</button></a>
        </form>
        <a href="/chain"><button>Ver la cadena</button></a>
    </div>
{% endblock %}