{% extends "base.html" %}

{% block content %}
	<div class="container-fluid" style="margin: 20px;">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img alt="logo" class="img-fluid" src="{{ url_for('static', filename='logo.png') }}">
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            {% if exists(ip) %}
                {% if is_empty(patients) %}
                    <div class="container-fluid mt-3">
                        <div class="row mb-3">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 text-center">
                                <p>No hay pacientes en la cadena. Crea un nuevo registro o haz una petición de actualización de la cadena si
                                    ya has creado uno pero aún no lo ves.</p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="row mb-3 text-center">
                                        <div class="col-md-12">
                                            <a class="btn btn-success" href="/history?new=1" role="button">Crear nuevo registro médico</a>
                                        </div>
                                    </div>
                                    <div class="row mb-3 text-center">
                                        <div class="col-md-12">
                                            <a class="btn btn-success" href="{{node_address}}/mine" target="_blank" role="button">Realizar petición de minado</a>
                                        </div>
                                    </div>
                                    <div class="row mb-3 text-center">
                                        <div class="col-md-12">
                                            <a class="btn btn-success" href="/chain" role="button">Ver la cadena</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="container-fluid mt-3">
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <form action="/history" method="post" class="col-md-8">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Paciente</label>
                                    </div>
                                    <select class="custom-select mr-3" id="inputGroupSelect01" name="patient">
                                        {% for patient in patients %}
                                            <option value= "{{ patient }}">{{ patient }}</option>"
                                        {% endfor %}
                                    </select>
                                    <input class="btn btn-primary" type="submit" value="Ver historial médico">
                                </div>
                            </form>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row text-center mb-3">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <a class="btn btn-success" href="/history?new=1" role="button">Crear nuevo registro médico</a>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row text-center mb-3">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <a class="btn btn-success" href="/chain" role="button">Ver la cadena</a>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="container-fluid">
                    <div class="row text-center">
                        <h1 class="col-md-12">Introduzca un nodo de la cadena</h1>
                    </div>
                    <div class="row text-center">
                        <form action="/set_peer" id="textform" method="post" class="col-md-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="input-group input-group-sm col-md-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">Ejemplo: http://127.0.0.1:8000</span>
                                        </div>
                                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="peer">
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <br>
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}